body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: black;
}

#cvs {
  width: 100%;
  height: 100%;
}

#join {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

#join.loading,
#join.loading * {
  cursor: wait;
}

#chat {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10vw;
  height: 10vh;
  color: black;
  background-color: rgba(255, 255, 255, 0.75);
  resize: none;
}

#chat-log {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: 40vw;
  max-width: 40vw;
  height: 40vh;
  max-height: 40vh;
  overflow-y: auto;
  opacity: 1;
  border-radius: 10px;
  transition: opacity 0.5s ease-in;
}

.chat-item {
  width: 100%;
  padding: 5px;
  display: flex;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.chat-time {
  flex: 5;
  color: black;
  white-space: nowrap;
}

.chat-id {
  flex: 4;
  white-space: nowrap;
}

.chat-content {
  flex: 8;
  color: black;
  word-wrap: break-word;
  word-break: break-all;
}
