body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: black;
}

#cvs {
  width: 100%;
  height: 100%;
}

#join {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

#join.loading,
#join.loading * {
  cursor: wait;
}
